<%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/headers') %>
    <h1>Welcome to Home Details</h1>
    <div><%= home.houseName %></div>
    <div><%= home.price %></div>
    <div><%= home.location %></div>
    <div><%= home.rating %></div>
    <div><%= home.description %></div>
    <% if(usertype=='guest'){ %>
      <%- include('../partials/favourite') %>
    <% } %>
  </body>
</html>